.container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    
  }

  .dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border: 1px solid $middle_color;
    border-radius: 24px;
    outline: 1px solid $middle_color;
    overflow: hidden;

    .date {
      padding: 12px;
      text-align: right;
      outline: 1px solid $middle_color;

      display: flex;
      flex-direction: column;
      gap: 2px;

      .passive {
        color: $middle_color;
      }
      
      .active {
        color: $dark_color;
      }

      .events {
        display: flex;
        flex-direction: column;
        gap: 4px;
      }
    }
  }
}
