$dark_color: rgba(13, 12, 12, 1);
$accent_color: rgba(245, 27, 27, 1);
$middle_color: rgba(179, 179, 188, 1);
$light_color: rgba(239, 239, 239, 1);
$white_color: rgba(255, 255, 255, 1);
$shadow: rgba(69, 75, 87, 0.4);
