@import url('https://fonts.cdnfonts.com/css/tt-commons');
@import url('//db.onlinewebfonts.com/c/f02cf2e6e27a17bcfe9efa18c041c208?family=Redcollar');

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}
